body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.nav-aside {
    display: flex;
    gap: 100px;
}

.mail-navbar {
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: rgb(182, 217, 219);
}