body {
    margin: 0;
    background-color: rgb(252, 252, 225);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.nav-aside {
    display: flex;
    gap: 100px;
}

.mail-header {
    background-color: #cbeded;
    color: white;
    padding: 10px;
    text-align: center;
}

.mail-navbar {
    display: flex;
    flex-direction: column;
    margin: 30px;
}


.mail-list {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.mail-link {
    display: flex;
    padding: 1em;
    margin: .2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.mail-link:hover {
    text-decoration: underline;
    background-color: rgb(221, 239, 241);
}

.mail .sender {
    margin-right: 9em;
    font-weight: bold;
}

.mail .subject {
    flex-grow: 1;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
}

.mail .date {
    color: #888;
}

.mail-link.read {
    background-color: #fff;
}

.mail-link.unread {
    background-color: #f0f0ff;
    font-weight: bold;
}