@font-face {
    font-family: 'Sixtyfour-Regular';
    src: url(/assets/fonts/Sixtyfour-Regular.ttf) format('truetype');
    /* Ajoutez d'autres formats si nécessaire */
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    background-color: #ecf0f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.about {
    padding: 20px;
    text-align: center; /* Center align the content */
    margin: 0 auto; /* Center the section horizontally */
    width: 60%; /* Set the width to 60% of the viewport width */
  }
  
  .about h1 {
    font-size: 2em;
    margin-bottom: 20px;
    font-family: Arial, sans-serif; /* Specify a nice font for the heading */
  }
  
  .about p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Specify a nice font for the paragraph */
    font-size: 1.1em;
    line-height: 1.6; /* Adjust line height for better readability */
  }
  

.nav-aside {
    display: grid;
    grid-template-rows: 5% 95%;
    grid-template-columns: 15% 85%;
}


.mail-header {
    background-color: #cbeded;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
}

.mail-header h2 {
    flex-grow: .2;
    margin-left: 40px;
}

.mail-header .compose-btn {
    flex-grow: 1;
}

.mail-header .input-container {
    margin-right: 3em;
}

.mail-navbar {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.list-list {
    display: flex;
    flex-direction: column;
}

.filters {
    display: flex;
    gap: 2em;
    margin: 1em;
}

.mail-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    /* Ajout de cette ligne pour enlever le marker */
}

.export-btn {
    display: none;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
}

li.mail {
    display: flex;
    /* Mettre les éléments en ligne */
    align-items: center;
    /* Aligner verticalement les éléments */
    width: 100%;
}

.mail:hover .export-btn {
    display: inline;
}

.mail-link {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    padding: .68em;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    width: 85%;

}

.mail-link:hover {
    text-decoration: underline;
    background-color: rgb(221, 239, 241);
}

.sender {

    font-weight: bold;
}

.subject {
    flex-grow: 1;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
}

.date {
    color: #888;
    margin-right: 2em;
    text-align: right;
}

.mail-link.read {
    background-color: #fff;
}

.mail-link.unread {
    background-color: #f0f0ff;
    font-weight: bold;
}

.form-newMsg {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 30vw;
}

.trash-list, .starred-list {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.trash-mail,
.starred-mail {
    display: flex;
    padding: 1em;
    margin: .2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}


.delete-trash-button {
    border: none;
    background-color: inherit;
    font-size: 1.3em;
}

.fa-solid.fa-inbox {
    color: blue;
}

.fa-regular.fa-star,.fa-solid.fa-star {
    color: goldenrod;
}


.fa-regular.fa-paper-plane {
    color: rgb(14, 153, 14);
}

.fa-regular.fa-trash-can {
    color: red;
}

.post-card {
    width: 30vw;
    height: 60vh;
    background: #e4e4e4;
    box-shadow: 10px 10px 20px #afafaf,
        -10px -10px 20px #ffffff;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    /* Ajustez selon vos besoins */
}

.welcome-msg {
    margin-bottom: 40px;
    font-size: 3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post-card {
    margin-bottom: 40px;
}

.post-card textarea {
    resize: none;
    width: 100%;
    height: 40%;
    padding: 5px;
    font-family: Sans-serif;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: #fff;
}

.button-row {
    margin-top: 7px;
    margin-bottom: 3px;
}

.button-row button {
    border-radius: 10px;
    border: none;
    width: 120px;
    height: 100px;
    font-family: Sans-serif;
    color: #fff;
    box-shadow: 0px 4px 4px #bdbdbd;
    transition: all 0.3s ease-in-out;
    margin: 4px;
}

.button-row button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.upload {
    font-size: 30px;
    background: linear-gradient(180deg, #2b5dff 100%, #c329c9 0%);
}

.feeling {
    font-size: 30px;
    background: linear-gradient(180deg, #0095b7 0%, #5daddb 100%);
}

.life-event {
    font-size: 30px;
    background: linear-gradient(180deg, #0095b7 0%, #5012ba 100%);
}

.people {
    font-size: 30px;
    background: linear-gradient(180deg, #33c4e5 0%, #5012ba 100%);
}

.location {
    font-size: 30px;
    background: linear-gradient(180deg, #c329c9 0%, #2b5dff 100%);
}

.live-video {
    font-size: 30px;
    background: linear-gradient(180deg, #c800ff 0%, #ff076a 51%, #ff6c6c 100%);

}

.post {
    width: 100%;
    padding: 10px;
    margin-top: 9px;
    border: none;
    border-radius: 11px;
    font-size: 18px;
    font-family: Sans-serif;
    color: #fff;
    background-size: 200% 100%;
    background-image: linear-gradient(145deg, #ff00e1, #0000ff, #00d9ff);
    transition: 0.3s ease-out;
}

.post:hover {
    background-position: 99%;
}


.delte-all-btn {
    margin-top: 10px;
    margin-left: 10px;
}



.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: black;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(76, 81, 234, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
    cursor: se-resize;
}


.highlight {
    background-color: lightgoldenrodyellow; /* Couleur de fond temporaire */
}

@media (width < 1050px) {

    .mail-link {
        display: flex;
        flex-direction: column;
    }
}


