header {
    background-color: #3498db;
    color: white;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    font-family: 'YourChosenFont', sans-serif; /* Remplacez 'YourChosenFont' par le nom de la police que vous aimez */
    font-size: 2.3em;
    margin-left: 1em;
    padding: 10px; /* Ajoutez un peu de marge intérieure pour plus de style */
    border: 2px solid white; /* Ajoutez une bordure blanche */
    border-radius: 8px; /* Ajoutez des coins arrondis à la bordure */
    color: white; /* Couleur du texte du logo */
}

nav {
    margin-right: 20px;
}

nav a {
    margin: 1em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: underline;
}